{% extends 'base.html.twig' %}

{% block title %}Librairie La relecture - Mon compte{% endblock %}

{% block content %}
    <div class="text-center mt-5"><h1>Mon Compte</h1>
    <p>Bienvenue {{ app.user.firstname }} {{ app.user.lastname }} <br>
    Vous pourrez gérer votre compte dans cette rubrique. </p>

        <a href="{{ path('account_password') }}">- Modifier mon mot de passe</a> <br><br>

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin') }}">Administration du site</a>
        {% endif %}

    </div>
{% endblock %}
