{% extends 'base.html.twig' %}

{% block title %}La relecture - modifier mot de passe{% endblock %}

{% block content %}

    <h1>Modifier mot de passe</h1>
    <a href="{{ path('account') }}">Retour a mon compte</a>

{#    {% if notification %}#}
{#        <div class="alert alert-info">{{ notification }}</div>#}
{#    {% endif %}#}

    {{ form(form) }}

{% endblock %}
