{% extends 'base.html.twig' %}

{% block title %}Librairie La Relecture - Contact{% endblock %}

{% block content %}

        <h1 class="text-center w-50 m-auto">Contact</h1>
        {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
        {% endfor %}<br>

            {{ form(form) }}

{% endblock %}